---
import IconContainer from "@/components/IconContainer.astro";
import InfoContainer from "@/components/InfoContainer.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Layout from "@/layouts/Layout.astro";
---
<Layout title="Pequeñas Mentirosas DockerLabs Writeup" description="Writeup Pequeñas Mentirosas DockerLabs">
    <main class="px-4">
        <IconContainer src="/images/machines/Pequenas/icon.webp"/>
        <SectionContainer>
            <InfoContainer name="Pequeñas Mentirosas" author="beafn28" level="Easy" link="https://dockerlabs.es/" platform="DockerLabs" />
        </SectionContainer>
    </main>
</Layout>
