---
import Layout from "../../layouts/Layout.astro";
import Section from "../../components/SectionContainer.astro";
import Info from "../../components/icons/Info.astro";
---

<Layout 
title="Psycho DockerLabs Writeup"
description="Psycho DockerLabs Writeup">
    <main class="px-4">
        <Section class="py-44 pb-12 flex justify-center items-center">
            <img class="rounded-full size-32 border-4 border-white
            hover:scale-105 transition" src="/images/machines/Psycho/icon.webp"/>
        </Section>
        <Section>
            <h2 class="text-white text-3xl lg:text-4xl font-bold flex flex-row gap-x-2 pb-8">
                <Info class="w-10 h-10 hover:scale-105 transition"/>Psycho
            </h2>
            <h4 class="font-bold text-xl lg:text-xl text-wrap pb-2">Author: <span class="font-normal">Luisillo_o</span></h4>
            <h4 class="font-bold text-xl lg:text-xl text-wrap pb-2">Level: <span class="font-normal">Easy</span></h4>
            <a href="https://dockerlabs.es/" class="text-blue-400 text-xl lg:text-xl text-wrap hover:underline">
               DockerLabs 
            </a>
        </Section>
    </main>
</Layout>