---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Work in progress...",
    title: "Preparing eCPPTv3",
    company: "INE Security",
    description:
      "I am currently preparing for the eCPPTv3 certification with the goal of deepening my knowledge of Active Directory and strengthening my penetration testing skills, with the aim of obtaining the OSCP certification in the future.",
    
  },
  {
    date: "February 2025",
    company: "INE Security",
    title: "eWPT Course",
    description:
      "I completed the eWPT course to develop hands-on skills in web penetration testing, including the use of proxies, identifying and exploiting vulnerabilities based on the OWASP Top 10, and analyzing protocols used by web applications.",
  },
  {
    date: "January 2025",
    title: "eJPTv2",
    company: "INE Security",
    description:
      "I obtained my first cybersecurity certification, which allowed me to acquire fundamental knowledge in vulnerability scanning and the use of Metasploit.",
      link: "https://certs.ine.com/630702c7-776e-4006-bef0-dc40b94357d5#acc.AEbQolv5",
  },
  {
    date: "Septiembre 2019 - Junio 2023",
    company: "Universidad de Alicante",
    title: "Ingeniería Informática",
    description:
      "I pursued my university degree as part of the High Academic Performance group, where I gained a strong foundation in programming.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
